In [450]:
import pandas as pd
import numpy as np
data=pd.read_csv('netflix_data.csv')
arr=data['cast'].str.split(", ")
arr.fillna(0,inplace=True)

def num_of_cast(x):
    
    if x!=0:
        return(len(x))
    else:
        return(0)
    
data["num_of_cast"]=arr.apply(num_of_cast)
data.head(15)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,num_of_cast
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV,11
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,6
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,9
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,9
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas,12
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV,10
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies,8
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,119,After one of his high school students attacks ...,Dramas,5
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,118,"When a doctor goes missing, his psychiatrist w...",Horror Movies,9
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,143,An architect and his wife move into a castle t...,Horror Movies,8
10,s11,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,"October 20, 2017",2017,103,A farmer pens a confession admitting to his wi...,Dramas,7
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...",Poland,"November 30, 2018",2018,1,"In this dark alt-history thriller, a naïve law...",Crime TV,12
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,1,Archival video and new interviews examine Mexi...,Crime TV,0
13,s14,Movie,"2,215",Nottapon Boonprakob,Artiwara Kongmalai,Thailand,"March 1, 2019",2018,89,This intimate documentary follows rock star Ar...,Documentaries,1
14,s15,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,"March 19, 2020",2019,91,Stranded when the Earth is suddenly destroyed ...,Independent Movies,7

In [503]:
list(data["type"].groupby(data["genre"]))

[('Action',
  3       Movie
  21      Movie
  44      Movie
  50      Movie
  68      Movie
          ...
  7688    Movie
  7689    Movie
  7696    Movie
  7728    Movie
  7737    Movie
  Name: type, Length: 721, dtype: object),
 ('Anime Features',
  228     Movie
  253     Movie
  1334    Movie
  2179    Movie
  2204    Movie
  2976    Movie
  3264    Movie
  3798    Movie
  3971    Movie
  4135    Movie
  4159    Movie
  4599    Movie
  4896    Movie
  4897    Movie
  4900    Movie
  5863    Movie
  6384    Movie
  7424    Movie
  7713    Movie
  Name: type, dtype: object),
 ('Anime Series',
  24      TV Show
  141     TV Show
  260     TV Show
  341     TV Show
  360     TV Show
           ...
  7712    TV Show
  7740    TV Show
  7749    TV Show
  7750    TV Show
  7775    TV Show
  Name: type, Length: 148, dtype: object),
 ('British TV',
  58      TV Show
  85      TV Show
  142     TV Show
  258     TV Show
  321     TV Show
           ...
  7618    TV Show
  7630    TV Show
  7645    TV Show
  7668    TV Show
  7669    TV Show
  Name: type, Length: 232, dtype: object),
 ('Children',
  113     Movie
  145     Movie
  147     Movie
  155     Movie
  159     Movie
          ...
  7745    Movie
  7761    Movie
  7772    Movie
  7776    Movie
  7781    Movie
  Name: type, Length: 502, dtype: object),
 ('Classic',
  632     TV Show
  1300    TV Show
  1949    TV Show
  2015    TV Show
  2263    TV Show
  2288    TV Show
  2292    TV Show
  2658    TV Show
  3152    TV Show
  3505    TV Show
  4811    TV Show
  5286    TV Show
  5785    TV Show
  5787    TV Show
  5795    TV Show
  5912    TV Show
  6082    TV Show
  6953    TV Show
  6983    TV Show
  7169    TV Show
  7280    TV Show
  Name: type, dtype: object),
 ('Classic Movies',
  165     Movie
  381     Movie
  382     Movie
  392     Movie
  490     Movie
          ...
  7342    Movie
  7538    Movie
  7570    Movie
  7609    Movie
  7635    Movie
  Name: type, Length: 77, dtype: object),
 ('Comedies',
  18      Movie
  33      Movie
  34      Movie
  36      Movie
  37      Movie
          ...
  7760    Movie
  7762    Movie
  7764    Movie
  7769    Movie
  7778    Movie
  Name: type, Length: 1074, dtype: object),
 ('Crime TV',
  11      TV Show
  12      TV Show
  45      TV Show
  63      TV Show
  64      TV Show
           ...
  7672    TV Show
  7698    TV Show
  7721    TV Show
  7725    TV Show
  7738    TV Show
  Name: type, Length: 369, dtype: object),
 ('Cult Movies',
  1200    Movie
  1331    Movie
  1777    Movie
  2163    Movie
  3840    Movie
  4660    Movie
  5971    Movie
  6198    Movie
  6499    Movie
  6793    Movie
  6923    Movie
  7774    Movie
  Name: type, dtype: object),
 ('Documentaries',
  13      Movie
  25      Movie
  28      Movie
  30      Movie
  35      Movie
          ...
  7692    Movie
  7771    Movie
  7773    Movie
  7784    Movie
  7786    Movie
  Name: type, Length: 751, dtype: object),
 ('Docuseries',
  53      TV Show
  134     TV Show
  137     TV Show
  138     TV Show
  139     TV Show
           ...
  7508    TV Show
  7537    TV Show
  7602    TV Show
  7612    TV Show
  7678    TV Show
  Name: type, Length: 194, dtype: object),
 ('Dramas',
  1       Movie
  4       Movie
  7       Movie
  10      Movie
  15      Movie
          ...
  7768    Movie
  7770    Movie
  7780    Movie
  7782    Movie
  7783    Movie
  Name: type, Length: 1384, dtype: object),
 ('Horror Movies',
  2       Movie
  6       Movie
  8       Movie
  9       Movie
  27      Movie
          ...
  7558    Movie
  7625    Movie
  7631    Movie
  7673    Movie
  7687    Movie
  Name: type, Length: 244, dtype: object),
 ('Independent Movies',
  14      Movie
  689     Movie
  833     Movie
  1001    Movie
  1097    Movie
  1136    Movie
  1151    Movie
  1345    Movie
  1655    Movie
  1657    Movie
  1921    Movie
  2004    Movie
  2266    Movie
  2473    Movie
  2961    Movie
  3551    Movie
  4052    Movie
  6191    Movie
  6332    Movie
  6717    Movie
  Name: type, dtype: object),
 ('International Movies',
  81      Movie
  109     Movie
  221     Movie
  249     Movie
  269     Movie
          ...
  7582    Movie
  7706    Movie
  7707    Movie
  7708    Movie
  7765    Movie
  Name: type, Length: 114, dtype: object),
 ('International TV',
  0       TV Show
  5       TV Show
  16      TV Show
  38      TV Show
  51      TV Show
           ...
  7752    TV Show
  7753    TV Show
  7767    TV Show
  7779    TV Show
  7785    TV Show
  Name: type, Length: 690, dtype: object),
 ('Kids',
  108     TV Show
  111     TV Show
  225     TV Show
  276     TV Show
  364     TV Show
           ...
  7730    TV Show
  7756    TV Show
  7759    TV Show
  7766    TV Show
  7777    TV Show
  Name: type, Length: 359, dtype: object),
 ('LGBTQ Movies',
  7557    Movie
  Name: type, dtype: object),
 ('Music',
  246     Movie
  748     Movie
  830     Movie
  1008    Movie
  2268    Movie
  2358    Movie
  3257    Movie
  3480    Movie
  3735    Movie
  4054    Movie
  5025    Movie
  5142    Movie
  5550    Movie
  5771    Movie
  5996    Movie
  7091    Movie
  7092    Movie
  Name: type, dtype: object),
 ('Reality TV',
  26      TV Show
  130     TV Show
  428     TV Show
  452     TV Show
  574     TV Show
           ...
  7154    TV Show
  7303    TV Show
  7304    TV Show
  7539    TV Show
  7634    TV Show
  Name: type, Length: 102, dtype: object),
 ('Romantic Movies',
  2792    Movie
  4140    Movie
  4856    Movie
  Name: type, dtype: object),
 ('Romantic TV',
  640     TV Show
  819     TV Show
  1100    TV Show
  1523    TV Show
  1624    TV Show
  1640    TV Show
  1861    TV Show
  1951    TV Show
  1990    TV Show
  2139    TV Show
  2289    TV Show
  2411    TV Show
  2538    TV Show
  2818    TV Show
  3122    TV Show
  3739    TV Show
  4451    TV Show
  4496    TV Show
  4614    TV Show
  4706    TV Show
  5556    TV Show
  5609    TV Show
  5729    TV Show
  5791    TV Show
  5938    TV Show
  6382    TV Show
  6540    TV Show
  7431    TV Show
  Name: type, dtype: object),
 ('Sci-Fi',
  82      Movie
  3426    Movie
  3516    Movie
  4298    Movie
  4991    Movie
  5488    Movie
  5992    Movie
  6163    Movie
  6869    Movie
  7186    Movie
  7594    Movie
  Name: type, dtype: object),
 ('Spanish-Language',
  3147    TV Show
  3490    TV Show
  Name: type, dtype: object),
 ('Sports Movies',
  19    Movie
  Name: type, dtype: object),
 ('Stand-Up',
  197     TV Show
  220       Movie
  305       Movie
  307       Movie
  310       Movie
           ...
  7680      Movie
  7718      Movie
  7719      Movie
  7744      Movie
  7757      Movie
  Name: type, Length: 354, dtype: object),
 ('TV Action',
  543     TV Show
  595     TV Show
  954     TV Show
  966     TV Show
  1440    TV Show
  1465    TV Show
  1555    TV Show
  1643    TV Show
  1647    TV Show
  1780    TV Show
  2337    TV Show
  3030    TV Show
  3697    TV Show
  3733    TV Show
  3784    TV Show
  3935    TV Show
  3962    TV Show
  4567    TV Show
  4705    TV Show
  5137    TV Show
  5741    TV Show
  5786    TV Show
  5788    TV Show
  5789    TV Show
  5908    TV Show
  6047    TV Show
  6267    TV Show
  6476    TV Show
  6592    TV Show
  6862    TV Show
  6958    TV Show
  7006    TV Show
  7380    TV Show
  7386    TV Show
  7484    TV Show
  7677    TV Show
  7755    TV Show
  Name: type, dtype: object),
 ('TV Comedies',
  29      TV Show
  306     TV Show
  357     TV Show
  404     TV Show
  583     TV Show
           ...
  7520    TV Show
  7542    TV Show
  7543    TV Show
  7674    TV Show
  7735    TV Show
  Name: type, Length: 110, dtype: object),
 ('TV Dramas',
  259     TV Show
  405     TV Show
  471     TV Show
  991     TV Show
  1284    TV Show
           ...
  7107    TV Show
  7224    TV Show
  7274    TV Show
  7544    TV Show
  7578    TV Show
  Name: type, Length: 62, dtype: object),
 ('TV Horror',
  468     TV Show
  1268    TV Show
  1338    TV Show
  2600    TV Show
  2687    TV Show
  2697    TV Show
  4470    TV Show
  5660    TV Show
  5836    TV Show
  7289    TV Show
  Name: type, dtype: object),
 ('TV Sci',
  1616    TV Show
  Name: type, dtype: object),
 ('TV Shows',
  132     TV Show
  195     TV Show
  1012    TV Show
  1103    TV Show
  1336    TV Show
  2458    TV Show
  4055    TV Show
  4866    TV Show
  4867    TV Show
  5644    TV Show
  6038    TV Show
  6435    TV Show
  Name: type, dtype: object),
 ('Thrillers',
  190     Movie
  431     Movie
  464     Movie
  521     Movie
  638     Movie
  695     Movie
  865     Movie
  969     Movie
  1499    Movie
  1598    Movie
  1722    Movie
  1725    Movie
  1782    Movie
  1833    Movie
  2097    Movie
  2109    Movie
  2123    Movie
  2253    Movie
  2468    Movie
  2596    Movie
  2679    Movie
  2983    Movie
  3106    Movie
  3292    Movie
  3385    Movie
  3413    Movie
  3686    Movie
  4174    Movie
  4362    Movie
  4661    Movie
  4753    Movie
  4828    Movie
  4966    Movie
  5305    Movie
  5316    Movie
  5461    Movie
  5668    Movie
  5674    Movie
  5781    Movie
  6262    Movie
  6314    Movie
  6833    Movie
  6909    Movie
  6944    Movie
  6946    Movie
  6975    Movie
  7023    Movie
  7287    Movie
  7504    Movie
  Name: type, dtype: object),
 ('Uncategorized',
  55      Movie
  67      Movie
  162     Movie
  171     Movie
  342     Movie
  1026    Movie
  1128    Movie
  1318    Movie
  1320    Movie
  1429    Movie
  1570    Movie
  1708    Movie
  1709    Movie
  2177    Movie
  2178    Movie
  2300    Movie
  2301    Movie
  3115    Movie
  3253    Movie
  3560    Movie
  3561    Movie
  3579    Movie
  3736    Movie
  3737    Movie
  3738    Movie
  3936    Movie
  3943    Movie
  4187    Movie
  4418    Movie
  4467    Movie
  4539    Movie
  4572    Movie
  4573    Movie
  4729    Movie
  4812    Movie
  4888    Movie
  4889    Movie
  4890    Movie
  4891    Movie
  4892    Movie
  4893    Movie
  4942    Movie
  4944    Movie
  4946    Movie
  4949    Movie
  5383    Movie
  5575    Movie
  5576    Movie
  5577    Movie
  6465    Movie
  6735    Movie
  7170    Movie
  7171    Movie
  7179    Movie
  7250    Movie
  7671    Movie
  Name: type, dtype: object)]

In [514]:
data.groupby('genre')['type'].count()

genre
Action                   721
Anime Features            19
Anime Series             148
British TV               232
Children                 502
Classic                   21
Classic Movies            77
Comedies                1074
Crime TV                 369
Cult Movies               12
Documentaries            751
Docuseries               194
Dramas                  1384
Horror Movies            244
Independent Movies        20
International Movies     114
International TV         690
Kids                     359
LGBTQ Movies               1
Music                     17
Reality TV               102
Romantic Movies            3
Romantic TV               28
Sci-Fi                    11
Spanish-Language           2
Sports Movies              1
Stand-Up                 354
TV Action                 37
TV Comedies              110
TV Dramas                 62
TV Horror                 10
TV Sci                     1
TV Shows                  12
Thrillers                 49
Uncategorized             56
Name: type, dtype: int64